<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Gone with the DusT</title>
	
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
		<link href="css/login.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
	
		<script src="js/jquery.js"></script>    
		<script src="bootstrap/js/bootstrap.min.js"></script>
		<script src="js/jquery.validate.js"></script>

		<style type="text/css">
			body {
				padding-top: 30px;
				}
			pbfooter {
					position:relative;
					}
		</style>

	</head>

	<style>
		.pbfooter {
					position:relative;
					}

	</style>

	<body style="background:url('images/bono01-1920.jpg') no-repeat center center; height:700px;">

		<div class="navbar-nav navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="start.html">
						<img src="images/logo30.png"> Gone with the DusT
					</a>
				</div> 
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-offset-5 col-lg-5" style="margin-top:100px">
					<div class="block-unit" style="text-align:center; padding:8px 8px 8px 8px;">
						<br>
						<img src="images/주이좌.png" alt="주이좌" class="img-circle">
						<br>
						<br>
						<br>
						<form class="cmxform" id="signupForm" method="get" action="">
							<fieldset>
								<p class="text-center">
									<a class="btn btn-success btn-lg" href="index.html" role="button">미세먼지 찢으러 가기</a>
								</p>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>

    <script type="text/javascript" src="js/bootstrap.js"></script>
	
    </body>
	
</html>